<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="main.css" />
  </head>
  <body>
    <button type="button" id="button1">
      <a href="/noauth" class="buttonlink">NoAuth</a></button><br /><br />
    <button type="button" id="button2">
      <a href="/basicauth" class="buttonlink">BasicAuth</a></button><br /><br />
    <button type="button" id="button3">
      <a href="/apikey" class="buttonlink">APIKey</a></button><br /><br />
    <button
      type="button"
      id="button4"
      onclick="window.location.href='/bearerToken'">
      BearerToken
    </button>
    <div class="jsonresponse"><%= content %></div>
  </body>
</html>
